.App {
  text-align: center;
}

.board{
  display: flex;
    width: 255px;
    margin: 50px auto;
    box-sizing: border-box;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.cell {
  display: flex;
    border: 1px solid black;
    width: calc(250px / 3);
    height: calc(250px / 3);
    align-items: center;
    justify-content: center;
}
