.App {
  text-align: center;
}

.board{
  display: grid;
    grid-template-rows: 85px 85px 85px;
    grid-template-columns: 85px 85px 85px;
    width: 255px;
    margin: 50px auto;
    box-sizing: border-box;
}
.cell {
    border: 1px solid black;
    width: calc(250px / 3);
    height: calc(250px / 3);
    /* align the content */
    display: flex;
    justify-content: center;
    align-items: center;
}
.isWin {
  background: cadetblue;
}
